<!DOCTYPE html>
<html>
<head>
<title>feedback form</title>
<link rel="stylesheet" type="text/css" href="/static/css/feedback.css">
</head>
<body>
    <section></section>
    <div class="container">
        <form>
            <h1>Give your feedback</h1>
            <div class="id">
                <input type="text" placeholder="First name">
                <i class="far fa-user"></i>
            </div>
            <div class="id">
                <input type="text" placeholder="Last name">
                <i class="far fa-envelope"></i>
            </div>
                <textarea cols="15" rows="5" placeholder="Enter your opinions here.."></textarea>
                <button>Send</button>
        </form>
    </div>
</body>
</html>